.footer{
    background-color: rgb(9, 9, 9);
    display: flex;
    text-align: center;
    padding: 30px;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: bold;
justify-content: center;
    align-items: center;
    color: rgb(100, 96, 96);
}
